<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta
      name="description"
      content="Welcome to Football Fixture Api."
    />
    <link rel="icon" href="/static/image/icon.png" type="image/png" sizes="16x16">
    <title>Football Fixture api</title>
    <style>
    .bgc::before{
    content: "";
    background-image: url("/static/images/bg.svg");
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    position: fixed;
    top :0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    z-index: -2;
      }
      
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  </head>
  <body>
    <!-- navbar here -->
  <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Football Fixture</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#api">Api</a>
        </li>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- bavkground -->
<div class="bgc"></div>

<div class="container">

  <div class="row">
    <div class="col-sm-8 container text-center">
      <h5 class="mt-5">Filter leauges</h5>
      <select onchange="filter(this.value)"  data-live-search="true" data-live-search-style="startsWith" class="selectpicker">
        {% for leauge in data%}
          <option value="{{leauge}}">{{leauge}}</option>
        {% endfor %}
    </select>
  </div>

    <div class="col-sm-4">
      <div id="google_translate_element" class="col4 container text-center mt-5">
        <h5>Translate this page.</h5>
      </div>
    </div>
  </div>
</div>


    <!-- form for date sumbmition -->
    <form class="mt-5 d-flex justify-content-center" method="POST" action="/">
      {% csrf_token %}
      <input type="date" name="date" >
      <button type="submit" class="mx-3 btn btn-primary">Submit</button>
    </form>

    <h2 class="my-4 text-center">{{date}} Schedule</h2>

<!-- table here -->
<div id="data">
  {% for leauge,keys in data.items %}
    <div class="container mb-5" id="{{leauge}}">
    <h5>{{leauge}}</h5>
    <table class="table table-primary table-striped">
    <thead>
    <tr>
      <th scope="col">Team1</th>
      <th scope="col"></th>
      <th scope="col">Team2</th>
      <th scope="col">Timings</th>
    </tr>
  </thead>
  {% for data in keys %}
  <tbody>
    <tr>
      <td style="max-width:130px ;">{{data.teams.0}} <img src="{{data.logos.0}}" width="20" ></td>
      <td class="text-danger"><b class="text-uppercase">{{data.score.0}}</b></td>
      <td style="max-width:130px ;">{{data.teams.1}} <img src="{{data.logos.1}}" width="20" ></td>
      <td class='date' data_behavior="date_time">{{data.timing.0}}</td>
    </tr>
  </tbody>
  {% endfor %}
    </table>
    </div>
    {% endfor %}
  </div>
    <!-- api documentation -->

    <div class="container text-center" id="api">
      <h2 class="my-5">How to use our api???</h2>
      <p>We offer api for football fixture to checkout our api at <i class="text-primary">www.domian.com/api/yyyymmdd</i></p>
      <p>for example : <a href="/api/20211208">www.domian.com/api/20211208</a></i></p>

    </div>


  </body>
  <script src="/static/js/script.js"></script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
  </html>
